.ms-container-small{
    width: 100%;
    width: 1100px;
    margin: auto;
}

.magazine__image{
    background-color: var(--blue-color);
    position: relative;
    height: 80px;

    & img{
        position: absolute;
        top: -235px;
    }
}

.magazine__info{
    background-color: white;
    & .magazine__title{
        color: var(--dark-single-magazine);
        text-transform: uppercase;
    }

    & .magazine__check-disponibility{
        background-color: #55ba59;
        // padding: 15px 25px;
        border-bottom: 2px solid #357739;
        & .available{
            border-right: 2px solid #357739;
        }
        & button{
            border: none;
            cursor: pointer;
        }
        & .ms_light-green{
            color: #bafd9c;
        }
    }
    & .magazine__adv .adv__title{
        color: #55555a;
        text-align: right;
        margin-right: 42px;
        margin-bottom: 5px;
    }
}
