.ms-container-small{
    width: 100%;
    width: 1100px;
    margin: auto;
}

.magazine__image{
    background-color: var(--blue-color);
    position: relative;
    height: 80px;

    & img{
        position: absolute;
        top: -235px;
    }
}

.magazine__shop{
    background-color: white;
    & .magazine__title{
        color: var(--dark-single-magazine);
        text-transform: uppercase;
    }

    & .magazine__check-disponibility{
        background-color: #55ba59;
        // padding: 15px 25px;
        border-bottom: 2px solid #357739;
        & .available{
            border-right: 2px solid #357739;
        }
        & button{
            border: none;
            cursor: pointer;
        }
        & .ms_light-green{
            color: #bafd9c;
        }
    }
    & .magazine__adv .adv__title{
        color: #55555a;
        text-align: right;
        margin-right: 42px;
        margin-bottom: 5px;
    }
}

.magazine__info{
    background-color: #f6f6f6;
    border-top: 1px solid #e3e3e3;
    padding-bottom: 100px;
    & .magazine__art-by{
        border-top: 1px solid #e3e3e3;
        border-bottom: 1px solid #e3e3e3;
        & small{
            width: 30%;
        }
        & p{
            width: 70%;
            color: #17a9db;
        }
    }
    & .magazine__written-by{
        border-bottom: 1px solid #e3e3e3;
        & small{
            width: 30%;
        }
        & p{
            width: 70%;
            color: #17a9db;
        }
    }
    & .magazine__specs {
        & div:last-child{
            border-bottom: 1px solid #e3e3e3;
        }
        & div{
            border-top: 1px solid #e3e3e3;
            & small{
                width: 30%;
            }
            & span{
                width: 70%;
            }
            & .magazine__specs-series{
                text-transform: uppercase;
                color: #17a9db;
                font-weight: 500;
            }
        }
    }
}

.magazine__pre-footer{
    border-top: 1px solid #e3e3e3;
    background-color: #f6f6f6;
    & .pre-footer__card{
        width: calc(100% / 4);
        color: #9f9fb6;
        border-left: 1px solid #e3e3e3;
        &:last-child{
            border-right: 1px solid #e3e3e3;
        }
        & img{
            width: 30px;
            height: 40px;
            object-fit: contain;
            filter: brightness(0.8);
        }
    }
}

