footer {
    color: white;
    & .footer-top{
        background-image: url('/resources/img/footer-bg.jpg');
        background-size: cover;
        position: relative;
        overflow: hidden;
        & .footer-top__menu{
            & ul li{
                list-style: none;
                & a{
                    color: rgba($color: #fff, $alpha: .5);
                    text-decoration: none;
                    &:hover{
                        color: white;
                        text-decoration: underline;
                    }
                }
            }
        }
        & small{
            color: rgba($color: #fff, $alpha: .5);
            & .em-phrase{
                color: var(--blue-color);
                &:hover a {
                    text-decoration: underline !important;
                }
            }
        }
        &::after{
            content: "";
            display: block;
            position: absolute;
            top: -2.8125rem;
            right: 8.75rem;
            height: 130%;
            width: 35.625rem;
            background-repeat: no-repeat;
            background-image: url('/resources/img/dc-logo-bg.png');
        }
    }
    & .footer-bottom{
        background-color: #303030;
        & .sign-up button{
            color: white;
            border: .1563rem solid var(--blue-color);
            padding: .625rem .9375rem;
            background-color: transparent;

            &:hover{
                background-color: rgba($color: white, $alpha: 0.2);
                animation: shake 0.1s linear;
            }
            @keyframes shake{
                0% {
                    transform: rotate(-10deg);
                }
                100% {
                    transform: rotate(10deg);
                }
            }
        }
        & .follow-us{
            display: flex;
            align-items: center;

            & h5{
                color: var(--blue-color);
            }

            & img{
                margin-left: 1.25rem;
                object-fit: cover;

                &:hover{
                    filter: drop-shadow(0 0 4px white);
                }
            }
        }
    }
}